.blog-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin:40px 4px ;
}
.blog{
    margin: 5px;
}
table {
    border: 2px solid black;
    margin-bottom: 20px;
}
th,td{
    border: 1px solid gray;
    padding: 10px;
}
th{
    background-color: gray;
}
@media screen and (max-width:700px) {
    .blog-container{
        grid-template-columns: auto;
    }
}