.services-container button{
    padding: 10px 50px;
    margin: 10 auto;
    display: block;
    
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.service-head-part1{
    font-size: 30px;
    font-weight: bold;
}
.service-head-part2{
    font-size: 30px;
    color: gray;
}
.button-group{
    display: flex;
    justify-content:center;
    align-items: center;
}
.button-group button{
    border: none;
    margin:20px 5px ;
}
.button-group button a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    
}
@media screen and (max-width:900px) {
    .services{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:600px) {
    .services{
        grid-template-columns: repeat(1, 1fr);
    }
}