.programm-service .programm{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.programm-container{
    width: 100%;
    height: 500px;
    background-image: url(../../../images/tvelectronic2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.programm-container img{
  width: 100%;
  height: 500px;
}
.programm-items{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.programm-item{
  background-color: #ffff;
  opacity: 0.8;
  padding: 30px 15px;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
.programm-item:hover{
  transform: scale(1.1);
}
.programm-item h5{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.programm-item button{
  border: none;
  background-color: transparent;
  color: rgb(17, 17, 240);
}
@media screen and (max-width:700px) {
  .programm-items{
    grid-template-columns: repeat(2,1fr);
  }
}
